@font-face {
    font-family: "Gilroy-SemiBold";
    src: url("fonts/Gilroy-SemiBold.ttf");
  }
  @font-face {
    font-family: "Gilroy-Medium";
    src: url("fonts/Gilroy-Medium.ttf");
  }
  @font-face {
    font-family: "Gilroy-Regular";
    src: url("fonts/Gilroy-Regular.ttf");
  }
  @font-face {
    font-family: "Gilroy-Light";
    src: url("fonts/Gilroy-Light.ttf");
  }
  @font-face {
    font-family: "PressStart2P";
    src: url("fonts/PressStart2P.ttf");
}

body {
    margin:0;
    padding:0;
    /* background-color: black; */
    font-family: Gilroy-Medium;
}

.dispatchs {
    position: fixed;
    right:0;
    top: 5vh;
    right: 2vh;
    display:flex;
    flex-direction: column;
}

.dispatch {
    width: 28vh;
    position: relative;
    padding: .8vh;
    height:auto;
    overflow:hidden;
    background-color: gray;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: .5vh;
    margin-bottom: .5vh;
}

.dispatch.red {
    background-color: #493239;
}

.dispatch.blue {
    background-color: #283e61;
}

.dispatchinputXD {
    display: none;
}
.dispatch-menu .units .dispatchinputXD {
    display: flex;
    margin-left: 2.7vh;
}
.dispatch-menu .units .dispatchinputXD .dispatch {
    align-items: flex-start;
    margin-left: .5vh;
    gap: calc(.092592592vh * 4);
    margin-top: 0.8333vh;
    width: 27.963vh;
    height: fit-content;
    padding-top: 0.5704vh;
    padding-left: 0.5vh;
    padding-bottom: 1.8vh;
    border-radius: 0.463vh;
    background: rgba(90, 50, 55, 0.80);
    cursor: pointer;
}
.dispatch-menu .units .dispatchinputXD .dispatch .header {
    display: flex;
    align-items: center;
    width: 27.2vh;
    height: 2.3148vh;
    border-radius: 0.3704vh 0.3704vh 0vh 0vh;
    background: rgba(54, 27, 30, 0.40);
    margin-top: .1vh;
    margin-left: .2vh;
}
.dispatch-menu .units .dispatchinputXD .dispatch .header #header-icon {
    width: 1.7vh;
    height: 1.73vh;
    margin-left: 0.8333vh;
    padding-top: .3vh;
    font-size: 1.5vh;
    color: #FFF;
}
.dispatch-menu .units .dispatchinputXD .dispatch .header .dispatch-name {
    color: #FFF;
    font-family: Gilroy;
    text-shadow: 0px 0px 0px black;
    font-size: 1.25vh;
    margin-top: .35vh;
    margin-left: 0.5093vh;
    width: 17vh;
    height: 1.8vh;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dispatch-menu .units .dispatchinputXD .dispatch .frame {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5556vh;
    width: 2.1296vh;
    height: 2.1296vh;
    border-radius: 0.1852vh;
    background: rgba(22, 22, 22, 0.25);
}
.dispatch-menu .units .dispatchinputXD .dispatch .frame #frame-icon {
    display: flex;
    padding-top: .25vh;
    margin-left: .3vh;
    font-size: 1.1vh;
    color: #FFF;
}
.dispatch-menu .units .dispatchinputXD .dispatch .frame .text {
    color: #FFF;
    font-family: 'Gilroy';
    font-size: 1.2037vh;
    width: 24.5vh;
    margin-top: -1.6vh;
    margin-left: 2.5vh;
    overflow: hidden;
    font-style: normal;
    text-overflow: ellipsis;
}


.dispatch_head {
    width: 95%;
    height:auto;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:  rgba(0, 0, 0, 0.3);
    padding: .8vh;
    padding-top: .3vh;
    padding-bottom: .3vh;
    border-radius: .4vh;
}

.dispatch_head > div {
    display:flex;
    flex-direction: row;
    align-items: center;
}

p {
    margin:0;
    padding:0;
}

.dispatch_head > .left {
    color:white;
    font-size: 1.2vh;
}

.dispatch_head > .left > i {
    color:#f86b6e;
    text-shadow: 0 0 1.5vh #f86b6e;
    margin-right: 1vh;
}

.dispatch.blue > .dispatch_head > .left > i {
    color:#4c86e2;
    text-shadow: 0 0 1.5vh #4c86e2;
}


.dispatch_head > .right > div {
    padding: .5vh;
    padding-top: .3vh;
    padding-bottom: .2vh;
    margin-left: .5vh; 
    font-size: 1vh;
    color:rgba(255, 255, 255, 0.7);
    border: .1vh solid #f86b6d8a;
}

.dispatch_informations {
    display:flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.dispatch_informations > div {
    width: 50%;
}

.dispatch_info {
    display:flex;
    flex-direction: row;
    color:white;
    font-size: 1.2vh;
    align-items: center;
    margin-top: .5vh;
}

.dispatch_info > i {
    background-color: rgba(0, 0, 0, 0.3);
    padding: .5vh;
    border-radius: .4vh;
    margin-right: .5vh;
    color:#f86b6e;
    text-shadow: 0 0 1.5vh #f86b6e;
}

.dispatch.blue > .dispatch_informations > div > .dispatch_info > i {
    color:#ffff;
    text-shadow: unset;
}


.dispatch_informations > div:last-child {
    display:flex;
    flex-direction: column-reverse;
}

.dispatchmenu {
    width: 45vh;
    height: 80vh;
    border-radius: 2vh;
    right: 5vh;
    top: 0;
    bottom:0;
    margin:auto;
    position:fixed;
    background: linear-gradient(40deg, rgba(12,13,19,1) 0%, rgb(37, 52, 68) 100%);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    overflow:hidden;
    opacity: 0;
    transform: scale(0.94);
    transition: opacity 0.22s ease, transform 0.22s ease;
}

.dispatchmenu.open {
    opacity: 1;
    transform: scale(1);
}

.dispatchmenu > .right {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.5vh;
    width: 10vh;
    height: 100%;
    background: url('icons/decoration-rigtht.png');
    background-position: 15%;
    background-size:cover;
}

.dispatchmenu > .right > div {
    align-items: center;
    width: 100%;
    display:flex;
    cursor:pointer;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.dispatchmenu > .right > div > i {
    font-size: 4vh;
    margin-bottom: 5vh;
}
.dispatchmenu > .right > div > img {
    width: 3.5vh;
    margin-bottom: 5vh;
}
.dispatchmenu > .right > div > p {
    width: 70%;
    text-align: center;
    color:white;
}

.dispatchmenu > .left {
    width:40vh;
    height:100%;
}

.dpm_left_header {
    width: 100%;
    margin-top: 4%;
    height: 6%;
    /* background-color: gray; */
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.dpm_left_header > p {
    margin-left: 2vh;
}

.dpm_left_header > p:first-child {
    font-family: PressStart2P;
    font-size: 0.9vh;
    color: #00f8b9;
    text-shadow: 0px 0.37vh 2.13vh rgba(0, 248, 185, 0.55);
    white-space: nowrap;
}


.dpm_left_header > p:last-child {
    font-family: Gilroy-SemiBold;
    font-size: 2.037vh;
    color:white;
}

.dpm_left_kalan {
    width: 100%;
    height: 90%;
}

.overview {
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
}

.recentdispatchs {
    margin-left: 2vh;
    height: 70%;
    width: 90%;
    overflow-y: scroll;
}

.overview > p {
    margin-left: 2vh;
    font-family: Gilroy-SemiBold;
    font-size: 2.5vh;
    margin-top: .5vh;
    color:white;
}

.recentdispatchs::-webkit-scrollbar {
    position: absolute;
    width: 0.2vw;
    background-color: #485560;
}
.recentdispatchs::-webkit-scrollbar-thumb {
    background-color: #fff;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

.activecalls {
    margin-left: 2vh;
    height: 25%;
    width: 90%;
    overflow-y: scroll;
}

.activecalls::-webkit-scrollbar {
    position: absolute;
    width: 0.2vw;
    background-color: #485560;
}
.activecalls::-webkit-scrollbar-thumb {
    background-color: #fff;
}

.units {
    width:90%;
    height:100%;
    margin-left: 2vh;
    display:flex;
    flex-direction: column;
    /* background-color: gray; */
    overflow-y: scroll;
}

.units::-webkit-scrollbar {
    position: absolute;
    width: 0.2vw;
    background-color: #485560;
}
.units::-webkit-scrollbar-thumb {
    background-color: #fff;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

.button {
    padding: 1vh;
    display:inline;
    text-align: center;
    width: 50%;
    font-size: 1.5vh;
    color:#41DABF;
    background: linear-gradient(18deg, rgba(65,218,191,0.15) 0%, rgba(65,218,191,0.30) 100%);
}

.units > input {
    margin-top: 1vh;
    width: 26vh;
    padding: 1.5vh;
    padding-left: 2vh;
    padding-right: 2vh;
    background-color: rgba(0, 0, 0, 0.493);
    border:none;
    /* border-radius: .5vh; */
    outline:none;
    font-size: 1.5vh;
    color:white;
}

.units > .x {
    margin-top: 1vh;
}

.units > div > p {
    color:white;
    font-size: 1.5vh;
    font-family: "Gilroy-SemiBold";
    margin-top: 1vh;
    margin-bottom: 1vh;
}



.officers {
    width:90%;
    height:100%;
    margin-left: 2vh;
    display:flex;
    flex-direction: column;
    /* background-color: gray; */
    overflow-y: scroll;
}

.officers::-webkit-scrollbar {
    position: absolute;
    width: 0.2vw;
    background-color: #485560;
}
.officers::-webkit-scrollbar-thumb {
    background-color: #fff;
}


.officers > input {
    margin-top: 1vh;
    width: 26vh;
    padding: 1.5vh;
    padding-left: 2vh;
    padding-right: 2vh;
    background-color: rgba(0, 0, 0, 0.493);
    border:none;
    /* border-radius: .5vh; */
    font-size: 1.5vh;
    outline:none;
    color:white;
}

.officers > .x {
    margin-top: 1vh;
}

.officers > div > p {
    color:white;
    font-size: 1.5vh;
    font-family: "Gilroy-SemiBold";
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.dispatch_hover {
    /* width:5vh; */
    margin-top: 2vh;
    /* height: 5vh; */
    width: 100%;
    height:100%;
    position: absolute;
    /* display:flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    color:white; */
    background: linear-gradient(180deg, rgba(248,107,110,0.2) 0%, rgba(248,107,110,0.882090507101278) 100%);
} 

.dispatchinputmenu {
    width: 28vh;
    height: auto;
    padding: .8vh;
    border-radius: .5vh;
    position: relative;
    box-sizing: border-box;
    background-color: rgba(51, 58, 129, 0.80);
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow:hidden;
    margin-top: 1.5vh;
    margin-bottom: .5vh;
}

.dispatchinputmenu > .head {
    display:flex;
    flex-direction: column;
    align-items: stretch;
    height: auto;
    width: 95%;
}

.cu_header {
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: .8vh;
    padding-top: .3vh;
    padding-bottom: .3vh;
    border-radius: .4vh;
    margin-bottom: .5vh;
}

.cu_header > i {
    color:#ffffff;
    text-shadow: 0 0 1.5vh #ffffff;
    font-size: 1.2vh;
    margin-right: 1vh;
}

.cu_header > p {
    color:white;
    font-family: "Gilroy-SemiBold";
    font-size: 1.2vh;
}

.cu_row {
    display:flex;
    flex-direction: row;
    align-items: center;
    color:white;
    font-size: 1.2vh;
    margin-top: .5vh;
}

.cu_row:last-child {
    margin-bottom: 0;
}

.cu_row > i {
    background-color: rgba(0, 0, 0, 0.3);
    padding: .5vh;
    border-radius: .4vh;
    margin-right: .5vh;
    color:#ffffff;
    text-shadow: 0 0 1.5vh #ffffff;
    font-size: 1vh;
}

.cu_row > input[type=text] {
    background:transparent;
    border:none;
    outline:none;
    color:white;
    font-size: 1.2vh;
    width:100%;
    font-family: "Gilroy-Medium";
}

.cu_row > input[type=text]::placeholder {
    color: rgba(255, 255, 255, 0.45);
}

.inputmenuelemani {
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: .4vh;
    width: 100%;
    padding-top: .5vh;
    padding-bottom: .5vh;
}


.dispatchinputmenu > .head > .inputmenuelemani {
    padding: 1vh;
}

.inputmenuelemani > input[type=text] {
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
    margin-top: 0.2vh;
    color: white;
    padding: 0.4vh;
    padding-left: 1vh;
    font-size: 1.4vh;
}

.dispatchinputmenu > .bot {
    display:flex;
    flex-direction: column;
    height: auto;
    width: 95%;
    margin-top: .3vh;
}

.eklenenkisiler {
    padding-top: 1vh;
    width: 95%;
    height: 6vh;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 1vh;
    border-bottom: .1vh solid rgba(255, 255, 255, 0.1);
}

.kisi {
    padding: .5vh;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: .4vh;
    color:white;
    font-size: 1.2vh;
    height: 1.6vh;
    cursor:pointer;
    margin-left: .3vh;
    margin-right: .3vh;
    margin-bottom: .4vh;
}

.addmenu {
    width: 95%;
    margin-top: 1vh;
    margin-left: .4vh;
    display:flex;
    flex-direction: row;
    padding-bottom: 1vh;
}

.addmenu > input {
    background-color: rgba(0, 0, 0, 0.3);
    border:none;
    outline:none;
    padding: .6vh;
    color:white;
    width: 3.5vh;
    font-size: 1.2vh;
    text-align: center;
}

.addmenubtn {
    padding: .6vh;
    padding-left: 1vh;
    padding-right: 1vh;
    color: #f86b6e;
    margin-left: 1vh;
    font-size: 1.2vh;
    background: linear-gradient(18deg, rgba(248, 107, 110, 0.15) 0%, rgba(248, 107, 110, 0.30) 100%);
}

.kisi:hover{
    background-color: rgba(248, 107, 110, 0.2);
    cursor:pointer;
}

.inputmenuelemanix {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: .4vh;
    padding-top: .6vh;
    padding-bottom: .6vh;
}

.inputmenuelemanix > .addmenubtn {
    margin-left: 1vh;
    margin-right: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
}

.xxxx {
    color: #da4141;
    background: linear-gradient(18deg, rgba(218, 65, 65, 0.15) 0%, rgba(218, 65, 65, 0.3) 100%);
}

.hover {
    height: 100%;
    width:100%;
    bottom:0;
    position: absolute;
    display:flex;
    justify-content: center;
    backdrop-filter: blur(1px);
    align-items: center;
    background-color: rgba(1, 9, 12, 0.6);
}

.hover_button {
    color:white;
    width: 4.5vh;
    height: 4.5vh;
    font-size: 2vh;
    display:flex;
    cursor:pointer;
    justify-content: center;
    align-items: center;
    margin-left: .7vh;
    border-radius: .2vh;
    margin-right: .7vh;
    background: linear-gradient(180deg, rgb(241 119 119 / 3%) 0%, rgb(247 108 108 / 55%) 100%);
}

.hover_button:last-child{
    background: linear-gradient(180deg, rgb(38 64 68 / 48%) , rgb(38 64 68 / 86%) 100%);
}

.menudispatch {
    border: .1vh solid rgba(255, 0, 0, 0);
}

.menudispatch:hover {
    border: .1vh solid rgba(255, 0, 0, 0.1);
}

.revealdispatch.red {
    background-color: #3d252cc7;
}

input[type=text]:focus {
    border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline:none;
  border: transparent;
}